body {
  font-family: 'Poppins', sans-serif; // fungsi ditambahkan sans-serif adalah jika font poppins tidak ditemukan maka sans-serif yang akan digunakan
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 140px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
